<div class = "container" >
  <div class="jumbotron">
    <img class="main-img" src="/assets/img/header.jpg" alt="header-image" />
  </div>
  <div class="article-container">

  </div>
  <!-- Footer -->
  <footer class="footer container">
  <a href="/">Home</a>
  </footer>
</div>
