body {
  background: url(/assets/img/sky_lightning.jpg) no-repeat center center fixed;
  background-size: cover;
  background-position: top;
  font-family: 'Industry Black Italic', cursive;
	min-height: 100%;
}

.jumbotron{
  margin-bottom: 10px;
  padding: 0px;
  width: 100%;
}
.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

.main-img{
  max-width: 100%;
  height: auto;
}

.btn-danger {
  background-color: red;
}

.panel {
	border-radius: 1;
  box-shadow: 3px 3px 20px lightslategrey;
  margin-bottom: 20px;
  border-style: double;
  border-width: thick;
  padding: 15px;
}

.panel-heading {
	color: white;
  padding-bottom: 10px;
  font-size: 20px;
}

h3 {
	font-size: 18px;
}

.panel .panel-default .panel-body, #link{
  font-size: 20px;
  /* color:   #FFFFFF */
  color: white;
  margin: 10px;
  text-align: left;
}

.save-article{
  margin: 10px;
}

